
/******* CARD ********/
  .card {
    /*background: #fad3d9;*/
    background:
    /* top, transparent red, faked with gradient */
    linear-gradient(rgba(241, 141, 158, .25),
      rgba(255, 255, 255, .8)),
    /* bottom, image */
    url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    background-size: cover;
    background-position: center;
    width: 175px;
    height: 175px;
    border: 7px solid #ffffff;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.4s;
  }

  /* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }

  .card::after {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .card:hover::after {
    opacity: 1;
  }