  #headerContainer {
    background: #F18D9E;
    border-bottom: 7px solid #5BC8AC;
    box-shadow: 0px 11px 6px -6px #5BC8AC;
    margin-bottom: 20px;
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 10px 10px;
  }

  #brand {
    color: white;
    font-size: 55px;
    font-weight: 900;
    font-family: 'Poiret One', cursive;
  }

  #alert {
    color: white;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 25px;
  }

    #scoreBoard {
      color: white;
      font-size: 35px;
      font-weight: 900;
      font-family: 'Poiret One', cursive;
      padding-top: 20px;
    }
  
  /*

  header {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    overflow: hidden;
    margin-bottom: 40px;
}
  */